.App {
  text-align: center;
}

.List {
  margin-bottom: 15px;
  margin-top: 15px;
  vertical-align: middle;
}
.ListItem {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-items: center;

}

.ListItem > div{
  /* display: inline-block; */
  vertical-align: middle;
  line-height: normal;
  border-style: outset;
  border-radius: 6px;
  min-width: 200px;
  max-width: 200px;
  padding: 0px 20px 0px 20px;
  word-wrap: break-word;
  grid-column: 2;
/*  justify-self:right;*/
}

.ListItem > button {
  background: rgb(200,100,100);
  border-color: rgb(230,130,130);
  border-radius: 6px;
  font-size: 2em;
  color: darkred;
  grid-column: 3;
  justify-self: left;
/*  margin-left: 25px;*/
  height: 50px;
  width: 50px;
}

.true {
  background-color: greenyellow;
  border-color: rgb(100,200,100);
}
.false {
  border-color: lightgray;
}


.ListItemCounter {
  border-color: lightskyblue;
  background-color: lightseagreen;
}

